__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.Python
venv/
.venv/
ENV/
.env

# Django build outputs
staticfiles/
media/

# Git/IDE
.git/
.gitignore
.vscode/
.idea/
.DS_Store

# Logs
*.log
