# Entorno virtual
venv/
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Archivos de media subidos por usuarios (local)
media/

# Archivos de configuración y secretos
*.env
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.idea/
.vscode/